<h1>Aloha! Welcome to the Beach Review App!</h1>
<h3>Sign up or login to start reviewing</h3>

<p>
    <%= link_to "Sign Up", signup_path %> |
    <%= link_to "Log In", login_path %> |
    <%= link_to "Log In with Google", '/auth/google_oauth2' %>
</p>