<h1>Aloha <%= @user.firstname %>!</h1>
<br>
<h3>Your Reviews</h3>

<%= render partial: "/reviews/reviews", locals: {reviews: current_user.reviews} %>

<br><br>

<%= link_to "Create new review", new_review_path %>
