<h3>All Reviews</h3>
<ul>
<% reviews.each do |review| %>
    <li>
    <%= review.beach.name %>: <%= review.overall_rating %> stars 
        <ul>
            <li>
                Last updated at: <%= review.date_updated %>
            </li>
            <li>
                <%= link_to "View full review", review_path(review) %>
            </li>
        </ul>
    </li>
<% end %>
</ul>